body{margin:20px;
	font-family:黑体;
	height:100%;
}

a{text-decoration: none;}

.fs-15{font-size: 15px;}


/*根据不同屏幕宽度，万年历宽度自适应*/
.container {
  margin:0 auto;
}

@media (max-width: 768px) {
body{margin:20px 0px;}

}
@media (min-width: 768px) {
.container {
  width:750px;
}
  .cal-wrap{width:80%;}

}
@media (min-width: 992px) {
.container {
  width:970px;
}
  .cal-wrap{width:60%;}
}
@media (min-width: 1200px) {
.container {
  width:1170px;
}
  .cal-wrap{width:50%;}
}

.cal-wrap{
margin:0px auto;
border:2px solid rgba(195, 92, 92, 1);
height:415px;
border-radius:10px;
}



/*万年历头部样式*/
.cal-header{
	background: rgb(205, 8, 8);
	height:auto;
	padding:5px 20px 10px 20px;
	text-align:center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.cal-header p{-webkit-margin-before: 0em;
-webkit-margin-after: 0em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
margin-bottom: 5px;
/*IE兼容*/
margin-top:0px;
}
.cal-header p:first-child{color:#fff;
font-family: \5FAE\8F6F\96C5\9ED1;
font-size:30px;
}
.year-name{color:#eee;
font-family: 宋体;
font-size:12px;
margin-bottom:5px;
}

.choose-date{
display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
display: -ms-flexbox;      /* TWEENER - IE 10 */
display: -webkit-flex;     /* NEW - Chrome */
display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
display: box;  
display: flexbox;  

flex-wrap:wrap;
justify-content: space-around;

}

.choose-year, .holiday-schedule, .go-today{
/*display: table-cell;*/ /*IE9*/
width:90px;margin-right:8px;}

.time-now{display: table-cell; /*IE9*/
width:130px;font-size: 13px;line-height: 25px;color:#fff;}
.choose-date select, .choose-date input{width:100%;
padding:3px 5px;
color: #555;
vertical-align: middle;
background-color: #fff;
border: 1px solid #ccc;
border-radius: 4px;
height:25px;
}

.choose-month{
position:relative;
width:110px;
margin-right:8px;
}

.choose-month select{width:66px;border-radius: 0px;}

#prev-month,#next-month{display:block;
width:20px;
height:23px;
background: #fff;
color:#000;
position:absolute;
line-height: 25px;
border: 1px solid #ccc;
}

#prev-month{
left:0px;
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
}

#next-month{
right:0px;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
}

.cal-body{padding: 10px 10px;
display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: box;  
  display: flexbox;

flex-wrap:wrap;
}

.cal-date{flex:7;
	border:1px solid rgba(236, 205, 174, 0.39);
box-sizing:border-box;
margin-right:5px;
/*display:table-cell;*/
}

.date-details{flex:3;background: rgba(236, 205, 174, 0.39);
height:310px;
box-sizing:border-box;
padding-top:10px;
text-align: center;
color:#575151;
font-size: 15px;
/*display:table-cell;*/
}

.cal-date thead tr{background:rgba(236, 205, 174, 0.39);}
.cal-date  thead tr td{padding:3px;font-size:15px;	
}

.cal-date td{
	width:8%;
	/*width:55px;*/
text-align: center;}


.calDateNum{color:#272323;}
.lunarDate{color:#868181;}

div[id^="calD"]{font-size: 20px;padding-top: 5px;}
div[id^="lunD"]{font-size: 13px;padding-bottom: 5px;}
td[id^="box"]{border:2px solid #fff;position: relative;}
.greyDisplay{background: #E8E8E8;color: #A6A6A6;}

td[id^="box"]:hover{border:2px solid #E7D8D8;cursor :pointer;}
.isToday{border:2px solid rgb(231, 91, 91) !important;
border-radius: 30px !important;
}
.orgColor{color:rgb(250, 148, 32);}
.redColor{color:rgb(231, 91, 91);}
.redBack{background:rgb(244, 222, 222); }
div[id^="hTran"]{position: absolute;
top: 0px;
font-size: 10px;
color: #fff;
background: rgb(205, 8, 8);
width: 15px;
}

.toDay{font-size: 70px;
color: rgb(231, 91, 91);
font-family: yahei;
background: #F9F9F9;
width:85px;
height:80px;
margin:20px auto 10px auto;
box-shadow: 5px 5px 5px #BDB4B4;
}

.todayDetails{margin:20px 0px;}
.todayDetails p{margin:5px;
}

.suitAndAvoid{
margin: 0px 10px 10px 10px;
border-top: 2px solid #E2D2D2;
text-align:left;
padding:10px 0px;}

.suit:first-letter,.avoid:first-letter{font-size: 20px;}

.suit,.avoid{margin:5px 0px 5px 0px;}

/*当屏幕宽度小于620px时，右边展示模块隐藏*/
@media (max-width: 620px) {
body{margin:20px 0px;}
.date-details,.go-today,.time-now{display:none;}
.cal-date{margin-right:0px;}
.cal-body{padding: 10px 2px;}
div[id^="lunD"] {
font-size: 12px;

}
}
